<!doctype html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/styleGrap.css" />

		<script src="js/jquery.js"></script>
		<script src="js/cytoscape.min.js"></script>
		<title>Graphes</title>

	</head>
	<body>

		<div class="row">
			<div class="large-12 columns">
				<h1>Bienvenue sur le portail des Graphes</h1>
			</div>

			<hr>
			<br/>

			<div class="row">
				<div class="medium-3 columns panel"><h4>Paramètres d'actions</h4>
					<hr>

					<form method='post'>

						<div class="row">

							<label for='nbSommet'>Nombre sommet</label>
							<input type="text" id="nbSommet" placeholder="nombre de sommets" value="5" required>

							<label for='densite'>Densité</label>
							<input type="number" id="densite" name="densite" min="1" max="100" value="50" required>

							<button id="generation" class="button">Generation</button>
							<button id="djikstra" class="button">SSSP</button>
							<button id="kruskal" class="button">Kruskal</button>

						</div>
					</form>

				</div>
				<div class="medium-7 columns">
					<h4>Graphe</h4><br/>
					<div class="row leGraphe">
						<div id="cy"></div>
					</div>
				</div>
				<div class="medium-2 columns">
					<table id="sssp">
						<thead>
							<tr>
								<td>Source</td>
								<td>Sommet</td>
								<td>Distance</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>


		<footer class="row">
			<div class="large-12 columns">
				<hr>
				<div class="row">
					<div class="large-6 columns">
						<p>© Copyright Coulon Brodier Bernière Descamps .</p>
					</div>
					<div class="large-6 columns">
						<ul class="inline-list right">
							<li><a href="#">Nous</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- chargement des scripts -->
		<script src="js/socket.io.js"></script>
		<script src="js/code.js"></script>


	</body>

</html>
