<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/design.css" />
        <title>Erreur</title>
    </head>
    <body>
        <div class="error">
            <p>Rendez-vous sur l'application web <a href="http://localhost">Graphes</a> pour pouvoir interagir avec l'API.</p>
        </div>
    </body>
</html>